.key-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.key-item {
    display: flex;
    align-items: center;
    padding: 5px;
}

.square {
    margin-left: 5px;
}