.clear-options a:last-child {
    margin-left: 7px;
}

.maze-options {
    background: #222221;
    padding: 10px;
    border-radius: 10px;

    a {
        text-decoration: none;
    }

    > div {
        display: flex;
        justify-content: space-around;
    }
}

.modify-maze-options {
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: 
    center;
    align-items: center;
    flex-wrap: wrap;
}

.button-container {
    > div {
        display: flex;
    }

    input {
        width: 50px;
        text-align: center;
    }
}

.run-maze-button {
    margin-top: 5px;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile-radios > label:first-of-type {
    margin-right: 5px;
}

.tile-radios > label {
    margin-left: 3px;
}

app-grid {
    flex: 50%;
}

.grids-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: #222221;
    border-radius: 10px;
    overflow: auto;
    height: 100%;
    margin: 5px 0;
}

.square {
    height: 17px;
    width: 17px;
    background: rgb(153, 153, 153);
    margin: 0.5px;

    // prevent user from dragging any html elements in the maze
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.set {
    border-radius: 0;
}

[class$="-tile"]:not(.key-list [class$="-tile"], .current-tile, .start-tile, .end-tile) {
    // transition all but width and height
    transition: all 1s, width 0s, height 0s;
}

.weight-tile {
    border: 2px solid rgb(147, 35, 240);
}

.wall-tile {
    background: rgba(255, 52, 52, 0.781);
}

.final-tile {
    background: rgb(252, 169, 62);
}

.start-tile {
    background: rgb(0, 197, 0);
}

.seen-tile {
    background: yellow;
}

.current-tile {
    background: rgb(255, 0, 255);
}

.end-tile {
    background: rgb(0, 102, 255);
}

.link-light:hover {
    filter: brightness(70%);
}

app-menu {
    position: fixed;
    z-index: 9999;
    left: 25px;
    margin-top: 10px;
}

.menu-button {
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
}

@media all and (min-width: 288px) {
    .button-container:first-child {
        margin-right: 10px;
    }
}