<div>
    right-click = start /

    double-click = goal /
    
    single-click/hold = set walls
</div>

<div class="maze-options">
    <button [disabled]="isSolving" (click)="clearMaze()">
        clear maze
    </button>

    <button [disabled]="isSolving" (click)="clearPath()">
        clear path
    </button>

    <div>
        <label for="height">Height</label>
        <input [disabled]="isSolving" (change)="setDimensions($event, 'height')" min="0" max="50" type="number" [value]="height">
        <label for="width">Width</label>
        <input [disabled]="isSolving" (change)="setDimensions($event, 'width')" min="0" max="50" type="number" [value]="width">
    </div>
    
    
    <button [disabled]="isSolving" (click)="solve()">
        run maze
    </button>
</div>
<ul (contextmenu)="$event.preventDefault()">
    <li class="row" *ngFor="let square of squares; let ri = index;">
        <div 
            *ngFor="let block of square; let ci = index;"
            (mouseover)="toggleTile([ri, ci])" 
            (mousedown)="mouseIsDown = true"
            (mouseup)="mouseIsDown = false"
            (dblclick)="placeGoal([ri, ci], 'end')"
            (click)="clickToggle([ri, ci])"
            (contextmenu)="placeGoal([ri, ci], 'start')"
            [ngClass]="[
                true && 'square', 
                isPositionPresent([ri, ci]) ? 'selected' : '', 
                calcInd(start) === calcInd([ri, ci]) ? 'start-tile' : '', 
                calcInd(end) === calcInd([ri, ci]) ? 'end-tile' : '',
                !isPresent(finalPath, [ri, ci]) && calcInd(start) !== calcInd([ri, ci]) && isPresent(seen, [ri, ci]) ? 'seen-tile' : '',
                isPresent(finalPath, [ri, ci]) ? 'final-tile' : ''
            ]"
        >
        </div>
    </li>
</ul>
