.maze-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 5px;
}

.maze {
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.square {
    height: 17px;
    width: 17px;
    background: rgb(153, 153, 153);
    margin: 0.5px;

    // prevent user from dragging any html elements in the maze
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.square:hover {
    filter: brightness(60%);
}

.clear-options a:last-child {
    margin-left: 7px;
}

.maze-options {
    display: flex;
    justify-content: space-between;
    background: #222221;
    padding: 10px;
    border-radius: 10px;

    a {
        text-decoration: none;
    }

    > div {
        display: flex;
        justify-content: space-around;
    }

    .sub-maze {
        align-items: center;
        width: 100%;
    }
}

.buttons-container {
    min-width: 300px;
    max-width: 300px;
}

.button-container {
    > div {
        display: flex;
    }

    input {
        width: 50px;
        text-align: center;
    }
}


.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}












.wall {
    background: rgba(255, 52, 52, 0.781);
}

.final-tile {
    background: rgb(252, 169, 62);
}

.start-tile {
    background: rgb(0, 197, 0);
}

.end-tile {
    background: rgb(0, 102, 255);
}

.seen-tile {
    background: yellow;
}

.link-light:hover {
    filter: brightness(70%);
}