<app-tile-keys></app-tile-keys>

<div class="maze-options flex-column-center">
    <div class="modify-maze-options">
        <a class="link-light" href="#" (click)="clearMaze()">
            clear maze
        </a>
    
        <a class="link-light" href="#" (click)="clearPath();">
            clear path
        </a>


        <div class="flex-column-center">
            <label for="speed">Speed</label>

            <select name="speed" id="speed" [value]="speed" (change)="adjustSpeed($event)">
                <option *ngFor="let speedItem of speeds; let i = index;" [selected]="speedItem[1] === speed.toString()" [value]="speeds[i][1]">{{speedItem[0]}}</option>
            </select>
        </div>

        <div class="flex-column-center">
            <label for="zoom">Zoom</label>

            <select name="zoom" id="zoom" [value]="zoom" (change)="adjustZoom($event)">
                <option *ngFor="let zoomItem of zooms; let i = index;" [selected]="zoomItem === zoom" [value]="zooms[i]">{{zoomItem}}%</option>
            </select>
        </div>

        <div class="flex-column-center">
            <span>Tile Type</span>
            <div class="tile-radios">
                <input type="radio" [checked]="currentTileType === 'walls'" (change)="changeTileType($event)" value="walls" name="walls" id="walls">
                <label for="walls">Walls</label>
                <input type="radio" [checked]="currentTileType === 'weights'" (change)="changeTileType($event)" value="weights" name="weights" id="weights">
                <label for="weights">Weights (cost of 20)</label>
            </div>
        </div>

        <div class="flex-column-center">
            <label for="diagonal">Diagonal</label>
            <input [disabled]="isSolving" type="checkbox" name="diagonal" id="diagonal" [checked]="diagonal"[value]="diagonal" (change)="toggleDiagonal()">
        </div>

        <div class="flex-column-center">
            <label for="universal">Universal</label>
            <input [disabled]="isSolving" type="checkbox" name="universal" id="universal" [checked]="universal"[value]="universal" (change)="toggleUniversal()">
        </div>

        <div class="buttons-container">
            <div class="button-container flex-column-center">
                <label for="height">Height</label>

                <div>
                    <span>
                        <button [disabled]="isSolving" class="btn btn-danger btn-number" (mousedown)="mousedown(decreaseNumber, 'height')" (mouseup)="mouseUp()" (mouseleave)="mouseUp()" type="button">
                            -
                        </button>
                    </span>
                    <input [disabled]="isSolving" type="text" [value]="height" id="height" name="height" class="form-control" (change)="setDimensions({event: $event, number: undefined}, 'height')">
                    <span>
                        <button [disabled]="isSolving" class="btn btn-success btn-number" (mousedown)="mousedown(increaseNumber, 'height')" (mouseup)="mouseUp()" (mouseleave)="mouseUp()" type="button">
                            +
                        </button>
                    </span>
                </div>
            </div>

            <div class="button-container flex-column-center">
                <label for="width">Width</label>

                <div>
                    <span>
                        <button [disabled]="isSolving" class="btn btn-danger btn-number" (mousedown)="mousedown(decreaseNumber, 'width')" (mouseup)="mouseUp()" (mouseleave)="mouseUp()" type="button">
                            -
                        </button>
                    </span>
                    <input [disabled]="isSolving" type="text" [value]="width" id="width" name="width" class="form-control" (change)="setDimensions({event: $event, number: undefined}, 'width')">
                    <span>
                        <button [disabled]="isSolving" class="btn btn-success btn-number" (mousedown)="mousedown(increaseNumber, 'width')" (mouseup)="mouseUp()" (mouseleave)="mouseUp()" type="button">
                            +
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <button *ngIf="isSolving else elseTemplate" type="button" class="btn btn-danger run-maze-button" (click)="endMazeManually();">
        stop maze
    </button>
    <ng-template #elseTemplate>
        <button type="button" class="btn btn-success run-maze-button" (click)="solve()">
            run maze
        </button>
    </ng-template>
</div>

<div class="grids-container">
    <app-menu class="menu-button" (mouseleave)="menuIsOpen = false" (click)="menuIsOpen = !menuIsOpen" [menuIsOpen]="menuIsOpen" (addAlgorithm)="addAlgorithm($event)"></app-menu>
    <app-grid #grid *ngFor="let algorithm of algorithms; let i = index;"
        [algorithm]="algorithm"
        [height]="height"
        [width]="width"
        [speed]="speed"
        [diagonal]="diagonal"
        [currentTileType]="currentTileType"
        [zoom]="zoom"
        [squares]="squares"
        [start]="start"
        [end]="end"
        [universal]="universal"
        [wallsTotal]="wallsTotal"
        (incrementStop)="incrementStop()"
        (placeUniversalGoal)="placeUniversalGoal($event)"
        (makeUniversal)="makeUniversal()"
        (removeAlgorithm)="removeAlgorithm(i)"
        (placeUniversalTile)="placeUniversalTile($event)"
    ></app-grid>
</div>