.maze {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
}

.square {
    height: 17px;
    width: 17px;
    background: rgb(153, 153, 153);
    margin: 0.5px;

    // prevent user from dragging any html elements in the maze
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
        Introduced in IE 10.
        See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.square:hover {
    filter: brightness(60%);
}

.maze-options {
    display: flex;
    justify-content: space-around;
}

.wall {
    background: rgba(255, 52, 52, 0.781);
}

.final-tile {
    background: rgb(252, 169, 62);
}

.start-tile {
    background: rgb(0, 197, 0);
}

.end-tile {
    background: rgb(0, 102, 255);
}

.seen-tile {
    background: yellow;
}